.content-name{
  color: #fff;
  font-weight: 900;
  font-size: 1.6rem;
}
.content-body{
  position: relative;
  background-color: #000;
  width: 100%;
  padding: 1rem 1.5rem 3.4rem 1.5rem;
  overflow: scroll;
  height: 500px;
}
.border-black {
  border-top: 51px solid #000;
}
.content-paragraph{
  color: #fff;
  overflow: hidden;
}
.content-paragraph p{
  line-height: 1.7;
}
.content-flex-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2.4rem 1rem 1rem 1rem;
}
.oops{
  letter-spacing: 2;
  font-weight: 900;
  color: rgba(174, 247, 2, 0.651);
  font-size: 7rem;
}
.nfc{
  font-size: .9rem;
}
@media(max-width: 768px) {
  .content-body{
    width: 100%;
    height: 400px;
  }
  .modal-form {
    width: 70%;
    margin: 5rem;
  }
}
@media(max-width: 425px) {
  .content-body{
    width: 100%;
    height: 414px;
  }
  .modal-form{
    margin: 5rem;
    width: 90%
  }
}
@media(width: 2560px) {
  .content-body{
    height: 970px;
  }
}
@media(width: 1440px) {
  .content-body{
    height: 490px;
  }
}
@media(width: 1024px) {
  .content-body{
    height: 940px;
    width: 100%;
    height: 390px;
  }
  .content-paragraph p {
    font-size: 1.2rem;
  }
  
}