.dashboard{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding:0;
  z-index: -99;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.beta{
  font-size: .5rem;
  color: #fff;
  letter-spacing: 0;
  position: relative;
  left: -10px;
}
.overlay{
  background-color: #000;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding:0;
  opacity: .89;
  z-index: -99;
}
.head{
  background-color: rgba(7, 7, 7, 0.26);
  width: 50%;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  padding: 1.4rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.438);
}
.body{
  width: 50%;
  background-color: rgba(7, 7, 7, 0.26);
  padding: 1rem;
  overflow: scroll;
  flex-grow: 2;
}
.page-body-remix{
  height: inherit;
}
.add-plaque-body{
  position: sticky !important;
  padding: 3px;
  background: transparent;
  bottom: 2px;
  margin-left: 85%;
}
.add{
  font-weight: 700;
  font-size: 2.3rem;
  color: #000 !important;
  cursor: pointer;
  outline: none;
}
.bg-icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 3.1rem;
  width: 3.1rem;
  background-color: rgb(174, 247, 2) !important;
}

.add:hover .bg-icon{
  background-color: rgba(174, 247, 2, 0.445) !important;
}
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 1rem;
}

.page-body{
  background-color: #000;
  width: 50%;
  padding: 0;
}
.page-logo a{
  color: rgba(174, 247, 2, 0.651);
  letter-spacing: 4px;
  font-weight: 800;
  text-decoration: none;
  font-size: 1.2rem;
}
.white{
  color: #fff;
}
.black {
  color: #000;
}
.body-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.add{
  font-weight: 700;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  outline: none;
}
.add:hover{
  color: rgba(174, 247, 2, 0.651);
}
.flex-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.noPlaqueC{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15% 0 40% 0;
}
.plus-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 3.1rem;
  width: 3.1rem;
  background-color: rgb(174, 247, 2);
  border-radius: 50%;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}
.plus-container:hover{
  background-color: rgba(174, 247, 2, 0.493);
}
.noPlaque{
  color: #fff;
  font-size: 1rem;
  line-height: 2.3;
  width: 60%;
  text-align: center;
}
.modal{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.952);
  z-index: 100;
}
.modal-content{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70%;
  z-index: 96;
}
.modal-form{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  padding: .4rem;
  background-color: #000;
}
.form-item{
  width: 80%;
  margin: .4rem;
}
.form-item input,
.form-item button{
  padding: 1.1rem;
  width: 100%;
  outline: none;
  border-radius: 4px;
  border: none;
}
.f-right{
  float: right;
  padding: 1.4rem;
  color: rgba(174, 247, 2, 0.651);
  cursor: pointer;
  font-weight: 700;
  font-size: 1.1rem;
  z-index: 100;
}
.f-right:hover{
  color: red;
}
.form-item button{
  cursor: pointer;
  color: #000;
  background-color: rgba(174, 247, 2, 0.651);
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hideModal{
  display: none;
}
.share{
  cursor: pointer;
}
.ays{
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
}
.flex-ays{
  width: 40%;
  justify-content: space-between;
  margin: .9rem;
}
.bg-red p,
.bg-lime p{
  color: white;
  font-weight: 800;
}
.bg-red {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  width: 3rem;
  height: 2rem;
  cursor: pointer;
  border-radius: 4px;
}
.bg-red:hover {
  background-color: rgba(255, 0, 0, 0.61);
}
.bg-lime {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(174, 247, 2, 0.555);
  width: 3rem;
  height: 2rem;
  cursor: pointer;
  border-radius: 4px;
}
.bg-lime:hover{
  background-color: rgb(174, 247, 2);
}
.bg-lime:hover p{
  color: #000;
}
.fetching{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ft-text p{
  color: #fff;
}
.socialIcon{
  margin: .9rem 0 0 0;
}
.shareT {
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(174, 247, 2, 0.651);
  border-bottom: .5px solid #fff;
}
.share_container{
  background-color: rgb(0, 0, 1);
  padding: .3rem .6rem 1rem .6rem;
  border-radius: 2px;
  margin-left: -50px;
  margin-top: 7px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.share:hover > .shareC {
  display: block;
}
.shareC{
  position: absolute;
  display: none;
  z-index: 100;
}
.fetching{
  margin-bottom: 100%;
}
.suggestions{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000 !important;
}
.suggestions p{
  flex-grow: 1;
  font-size: .8rem;
  font-weight: 700;
  color: #fff !important;
}
.selectSugs{
  width: 100% !important;
  outline: none;
  border: 1px solid #fff;
  color: #000 !important;
  border-radius: 4px;
  padding: .8rem !important;
}
@media only screen 
and (max-device-width: 1024px)
and (min-device-width: 561px) {
  .head{
    width: 70%;
  }
  .page-body,
  .body{
    width: 70%;
  }

}
@media(max-width: 500px) {
  .head{
    width: 100% !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
  .body, .page-body{
    width: 100% !important;
  }
}
@media only screen 
and (max-device-width: 768px)
and (min-device-width: 561px) {
  .head{
    width: 80% !important;
  }
  .body{
    width: 85% !important;
  }
}
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .body{
      width: 100% !important;
    }
    *{
      font-size: 1.5rem;
    }
    .add-plaque-body{
      position: sticky !important;
    }
    .noPlaqueC{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 15% 0 60% 0;
    }
    .plus-container,
    .bg-icon{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 4rem;
      width: 4rem;
      background-color: rgb(174, 247, 2);
      border-radius: 50%;
      font-size: 1.7rem;
      cursor: pointer;
    }
    .modal-form{
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
      padding: 2rem;
      background-color: #000;
    }
}

















