.resetPassword{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .93;
  background-color: #000;
  z-index: -100;
  color: #fff;
}
.rp-flex-c{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 100;
}
.form-c{
  width: 40%;
  height: 100%;
}
.form-input input {
  color: #000;
}
.form_ch{
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4%;
}
.form-cc{
  padding: 7%;
  margin: 25% 0 0 0;
  display: flex;
  flex-direction: column;
}

@media(max-width: 500px) {
  .form-c{
    width: 80%;
  }
  .form-cc{
    margin: 40% 0 0 0;
  }
}
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .form-c{
      width: 80%;
    }
    .form-cc{
      margin: 40% 0 0 0;
    }
  }
  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .form-c{
      width: 80%;
    }
    .form-cc{
      margin: 40% 0 0 0;
    }
  }
  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .form-c{
      width: 80%;
    }
    .form-cc{
      margin: 55% 0 0 0;
    }
  }