div {
  display: block;
}
.begin_start{
  display: flex;
  flex-direction: column;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #252525;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  color: #222;
  font-size: 20px;
  font-family: open sans,sans-serif;
  font-weight: 600;
  margin-bottom: 15px;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.1rem;
}

.clip {
  font-size: 1.1rem;
  font-family: Roboto,sans-serif;
  line-height: 1.58rem;
  color: #777;
  margin-bottom: 0;
  max-width: 570px;
  font-weight: 400;
  margin: auto;
  text-align: center;
}
.starts{
  width: 100%;
  height: calc(100vh);
  margin: 0;
  padding:0;
  position: relative;
  background: rgb(32,57,46);
  background: linear-gradient(137deg, rgba(32,57,46,1) 0%, rgba(32,57,46,0.9598214285714286) 19%, rgba(46,138,41,1) 49%, rgba(46,158,103,1) 74%);
  opacity: .89;
}
.goBack{
  position: fixed;
  bottom: 1rem;
  right: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: green;
  height: 3.4rem;
  width: 3.4rem;
  border-radius: 50%;
  box-shadow: 0 2px 13px 0 rgba(0,0,0,.7);
  cursor: pointer;
}
.main{
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 100%;
}
.headers{
  margin: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  top: 0;
}
.headings{
  margin: 1rem 1.7rem 2rem 1.7rem
}
.flex_row{
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-between !important;
}
.flex-no-center{
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}
.grow1{
  flex-grow: 1;
}
.width5{
  width: 43%;
}
.start_intro{
  background: transparent;
  margin: 4rem 1rem;
}
.itt{
  line-height: 25px;
}
.start_intro #text{
  width: 43%;
  text-align: left;
}
.start_intro #image{
  width: 23.3%;
  margin-right: 10%;
  margin-top: -4%;
}
.text-data p{
  letter-spacing: 2px;
  font-size: 2rem;
  margin: 10px;
  font-weight: 800;
}
.hLogo p{
  letter-spacing: 7px;
  font-weight: 900;
  font-size: 2.4em;
  color: rgba(174, 247, 2, 0.651);
}
a{
  text-decoration: none;
}
.stb p,
.stb a{
  cursor: pointer !important;
  font-size: .9em !important;
  font-weight: 700 !important;
  text-decoration: none !important;
  background: none !important;
  border: none !important;
}
.stb:hover p,
.stb:hover a{
  color: rgba(174,247,2,.651);
}
.nav-pad{
  padding: .5rem !important;
  background: transparent !important;
}
.btf{
  margin: 2rem 0 0 0;
}
.btf #btfH{
  font-weight: 600;
  font-size: 1.3rem;;
}
.btf_d{
  width: 50%;
  margin-top: .2rem;
  letter-spacing: 2px;
  font-weight: 600;
  text-align: left;
  color: rgb(202, 202, 202);
}
.evr{
  color: #fff !important;
}
.create_btn{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 0 1rem;
  height: 3.8rem;
  width: 10rem;
  padding: .5rem;
  border-radius: 8px;
  box-shadow: 0 3px 30px 0 rgba(0,0,0,1);
  color: #fff;
  background: rgb(45,103,253);
background: linear-gradient(22deg, rgba(45,103,253,0.5284488795518207) 0%, rgba(235,22,81,1) 93%);
  cursor: pointer;
}
.create_btn:hover{
  background: rgb(45,103,253);
background: linear-gradient(22deg, rgba(45,103,253,0.5284488795518207) 0%, rgba(235,22,81,0.7217261904761905) 93%);
}
.create_btn p{
  font-size: .9rem;
  font-weight: 900;
  text-align: center;
  letter-spacing: 1px;
}
.more_dwn{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 0;
  cursor: pointer;
}

.jump {
  position: relative;
  bottom: 0;
  transition: all 1.24 ease-in-out;
  animation: jump 1.25s ease-in 1.4s infinite alternate-reverse both;
}
.bodds{
  width: 100%;
  position: relative;
  margin: 0;
  padding:0;
  color: #000;
}
.alt_bodds{
  margin: 2rem;
}
.wuC{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 75px;
}
@keyframes jump{
  from { bottom: -13px}
  to { bottom: 40px}
}

.title {
  text-align: center;
  margin-bottom: 75px;
}

.col-lg-3 {
  flex: 0 0 25%;
  width: 25%;
}

.col-lg-3,
.col-md-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.item {
  box-shadow: 0 10px 30px 0 rgba(0,0,0,.08);
  padding: 50px 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 26rem;
}
.item-end{
  flex-grow: 1;
  margin-top: 3%;
}

.row{
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  }

  .font {
    border-radius: 10px;
    background: rgb(32,57,46);
    background: linear-gradient(137deg, rgba(32,57,46,1) 0%, rgba(32,57,46,0.9598214285714286) 19%, rgba(46,138,41,1) 49%, rgba(46,158,103,1) 74%);
    opacity: .89;
    padding: 1.5rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .containers {
    margin-top: 2%;
  }

  .content {
    margin-top: 10%; 
  }

  .footerr {
    background: #222;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .mobile{
    display: none !important;
    position: absolute;
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    z-index: 100;
  }
  .nav-toggle-cont {
    position: relative;
    width: 50%;
  }
  .mobile-nav-item{
    position: relative;
    padding: 1rem;
    font-weight: 800;
  }
  #barrs {
    margin-left: 90%;
  }
  .nav-toggle-disp{
    position: relative;
    padding: 1rem;
    background-color: #000;
    opacity: .99;
    color: #fff !important;
    border-radius: 5px;
    margin: 0;
  }
  .nav-toggle-cont{
    width: 90%;
    position: absolute;
    margin-right: 10%;
    margin-top: 6%;
  }
  @media(max-width: 800px) {
    .mobile{
      display: block !important;
    }
    .comp {
      display: none !important;
    }
    .dsnone {
      display: none !important;
    }
    #tdH{
      font-size: .9rem;
      letter-spacing: 1px;
      width: 60%;
    }
    .start_intro{
      margin: 1rem !important;
    }
    .create_btn{
      margin: .5rem;
      height: 3rem;
      width: 12rem;
      padding: 1.7rem;
      border-radius: 8px;
    }
    .create_btn p{
      font-size: .8rem;
    }
    .btf{
      margin: 1rem 0 0 0;
    }
    #btfH{
      font-size: 1.2rem !important;
      font-weight: 800 !important;
    }
    .btf_d{
      font-size: .8rem !important;
    }
    .start_intro #image{
      width: 37.3%;
      margin-right: 10%;
      margin-top: -4%;
    }
    .row{
      display: grid;
      grid-template-columns: auto auto;
    }
    .col-lg-3 {
      width: 96%;
      margin: 4%;
    }
  }
  @media(max-width: 600px) {
    .nav-toggle-disp{
      position: relative;
      right: -19px;
    }
    #barrs {
      margin-left: 95%;
    }
    .headings{
      margin: 0 !important;
    }
    .mobile{
      display: block !important;
      width: 100%;
    }
    .comp {
      display: none !important;
    }
    .dsnone {
      display: none !important;
    }
    #tdH{
      font-size: .7rem;
      letter-spacing: 1px;
      width: 50%;
    }
    .start_intro{
      margin: 1rem !important;
    }
    .create_btn{
      margin: 0;
      height: 3rem;
      width: 12rem;
      padding: 1.7rem;
      border-radius: 8px;
    }
    .create_btn p{
      font-size: .8rem;
    }
    .btf{
      margin: 1rem 0 0 0;
    }
    #btfH{
      font-size: 1.2rem !important;
      font-weight: 800 !important;
    }
    .btf_d{
      font-size: .7rem !important;
    }
    .start_intro #image{
      width: 50.3%;
      margin-right: 2%;
      margin-top: 10%;
      z-index: -99;
    }
    .row{
      display: grid;
      grid-template-columns: auto;
      margin: 0 !important;
    }
    .start_intro{
      margin: .5rem !important;
    }
    .btf_d{
      width: 100%;
      font-size: .6rem !important;
    }
    .wuC h2{
      font-size: 1.3rem;
      margin-bottom: 1.5rem;
    }
    .clip{
      font-size: .9rem;
    }
    .col-md-6,
    .col-lg-3{
      padding: 0;
      margin: 0;
      width: 100%;
    }
    .alt_bodds{
      margin: 1rem;
    }
    .row #image {
      width: 80%;
    }
    .row{
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }
  
